<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><a href="/users/" class="btn btn-sucess btn-big">Enter</a></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</body>
</html>